* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(57, 72, 156);
  border-radius: 0 0 1rem 1rem;
  position: sticky;
  top: 0%;
}
.header p:nth-child(1) {
  width: 100%;
  height: max-content;
  text-align: center;
  color: antiquewhite;
  font-size: 2rem;
  font-weight: 600;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.header p:nth-child(2) {
  width: 100%;
  height: max-content;
  text-align: center;
  color: antiquewhite;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  word-spacing: 3px;
  padding-bottom: 0.5rem;
}
main {
  width: 100%;
  margin-top: 1rem;
  height: max-content;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
main .addText {
  width: 70%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 2px 2px 2px 3px #252525;
}
main .btn {
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px #7a7a7a;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  background-color: white;
}
main .btn:hover {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.637);
  box-shadow: 2px 2px 2px 2px #252525;
}
.list-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.list-container .list {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.75rem;
  background-color: rgba(57, 72, 156, 0.795);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  list-style: none;
  box-shadow: 3px 3px 3px rgba(68, 48, 87, 0.842);
  display: flex;
  justify-content: space-between;
}
.checkbox-task {
  width: 80%;
  display: flex;
}
.task {
  width: calc(100% - 2rem);
  margin-left: 10px;
  text-wrap: wrap;
  text-align: left;
}
.list .checkbox {
  width: 2rem;
  height: 2rem;
  box-shadow: 2px 2px 2px black;
}
.list .delete {
  width: 1.75rem;
  height: 1.75rem;
}
.list .delete:hover {
  color: red;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  main form {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  main .addText {
    width: 75%;
  }
  main .btn {
    width: 4rem;
  }
  .list-container {
    width: 80%;
  }
}
